@font-face {
  font-family: 'Circular Bold';
  src: url("/fonts/circular_bold.otf");
}

@font-face {
  font-family: 'Circular Book';
  src: url("/fonts/circular_book.otf");
}

@font-face {
  font-family: 'Circular Medium';
  src: url("/fonts/circular_medium.otf");
}

@font-face {
  font-family: 'Circular Light';
  src: url("/fonts/circular_light.otf");
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  color: rgba(86, 86, 86, 1.0);
  background-color: white;
  font-family: 'Circular Light';
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4 {
  color: #484848;
  padding: 0;
  margin: 0;
}

h2 {
  font-family: 'Circular Medium';
}

h4 {
  font-family: 'Circular Light';
}

p,
span {
  color: #757575;
  font-family: 'Circular Light';
  font-size: 14px;
}
