/* CSS declarations go here */
.bubble {
  border: 1px solid #ececec;
  border-radius: 5px;
  padding: 8px;
  background: #ececec;
  width: 80%;
  display: inline-block;
}

.userImg {
  display: inline-block;
}
